[Unit]
Description=Run ShadowGlass v7 Command scheduler every minute

[Timer]
OnBootSec=2min
OnUnitActiveSec=1min
AccuracySec=5s
Persistent=true
RandomizedDelaySec=5s
Unit=shadowglass-v7-command-scheduler.service

[Install]
WantedBy=timers.target

